<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jgsu.clong.mapper.ClassMapper">

	<select id="select_list_by_flbh2" parameterType="int"
			resultMap="select_list_by_flbh2_map">
		SELECT
		spu.shp_tp,sku.id as sku_id ,sku.*
		FROM
		t_mall_product
		spu,
		t_mall_sku sku,
		t_mall_trade_mark
		tm
		WHERE
		spu.Id =
		sku.shp_id
		and
		spu.pp_id
		= tm.Id
		and spu.flbh2 =
		#{flbh2}
	</select>

	<resultMap type="jgsu.clong.bean.KEYWORDS_T_MALL_SKU" id="select_list_by_flbh2_map"
			   autoMapping="true">
		<id column="sku_id" property="id" />
	</resultMap>
</mapper>
