<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jgsu.clong.mapper.ItemMapper">

    <select id="querySkuListBySpu" parameterType="int"
            resultType="jgsu.clong.bean.T_MALL_SKU">
		select * from t_mall_sku where shp_id = #{spu_id}
	</select>

    <select id="queryDetailSku" parameterType="Map"
            resultMap="select_detail_sku_map">
		SELECT
		sku.id as sku_id,
		spu.id as spu_id,
		img.id as img_id,
		attr.shxm_mch as shxm_mch,
		CONCAT(val.shxzh,val.shxzh_mch) as
		shxzh_mch,
		sku.*,spu.*,img.*
		FROM
		t_mall_sku sku,
		t_mall_product spu,
		t_mall_product_image img,
		t_mall_attr attr,
		t_mall_value val,
		t_mall_sku_attr_value av
		WHERE
		sku.shp_id = spu.Id
		AND spu.Id =
		img.shp_id
		AND sku.Id = av.sku_id
		AND av.shxm_id = attr.Id
		AND
		av.shxzh_id = val.Id
		and sku.Id = #{sku_id}
	</select>

    <resultMap autoMapping="true" type="jgsu.clong.bean.DETAIL_T_MALL_SKU"
               id="select_detail_sku_map">
        <id column="sku_id" property="id" />

        <association property="spu" javaType="jgsu.clong.bean.T_MALL_PRODUCT"
                     autoMapping="true">
            <id column="spu_id" property="id" />
        </association>

        <collection property="list_image"
                    ofType="jgsu.clong.bean.T_MALL_PRODUCT_IMAGE" autoMapping="true">
            <id column="img_id" property="id" />
        </collection>

        <collection property="list_av_name" ofType="jgsu.clong.bean.OBJECT_AV_NAME"
                    autoMapping="true">
        </collection>

    </resultMap>
</mapper>