
.logo {
    margin: 10px 0;
    position: relative;
    width: 300px;
    float: left;
    height: 60px;
}

.welcome-login {
    margin-top: 15px;
    position: absolute;
    margin-left: 15px;
    color: rgb(51, 51, 51);
}

.questions {
    position: relative;
    float: right;
    text-decoration: none;
    color: #999;
    font-size: 12px;
    outline: rgb(109, 109, 109) none 0px;
    top: 52px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: #f00;
    text-decoration: underline;
}

.background-img {
    position: relative;
    width: 102%;
    margin-left: -8px;
}

.login-form {
    position: absolute;
    margin-top: 180px;
}

.login-wrap {
    position: relative;
    height: 475px;
    margin: 10px 0 20px;
    z-index: 5px;
}

.w {
    width: 990px;
    margin: 0 auto;
}

#content {
    clear: both;
}

.login-wrap .login-form {
    float: right;
    top: -140px;
}

.login-form {
    position: relative;
    z-index: 4;
    background: #fff;
    overflow: visible;
    width: 345px;
}

.login-form .login-tab {
    margin-top: 15px;
    height: 39px;
    font-size: 18px;
    font-family: "microsoft yahei";
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
    position: absolute;
    background: #ffff;
    display: block;
}

.login-tab {
    position: relative;
    margin-left : 500px;
}

.login-form .login-tab-r {
    right: 0;
}

.login-form .login-tab-l, .login-form .login-tab-r {
    width: 173px;
}

a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0;
}

.msg-wrap {
    width: 306px;
    margin-left: 20px;
}

.msg-warn {
    color: #666;
    border: solid 1px;
    border-color: orange;
    background-color: #FFEEDD;
    margin-top: 60px;
    text-align: center;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.form {
    margin-left: 20px;
    width: 306px;
    margin-top: 10px;
    font-size: 20px;
}

.item .item-fore1 .item .item-fore2 {
    border: 1px solid #bdbdbd;

}

.form .item-fore1 {
    z-index: 6;
}

.form .item {
    position: relative;
    margin-bottom: 20px;
}

.item .item-fore2 {
    margin-top: 10px;

}

.form .itxt {
    line-height: 18px;
    height: 40px;
    padding: 10px 0 10px 10px;
    width: 256px;
    float: none;
    overflow: hidden;
    font-size: 14px;
}

.item-fore4 {
    font-size: 12px;
    margin-top: 10px;
    height: 18px;
    /* width: 306px; */
}

.forgetPassword {
    /* 	margin-left:182px; */
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}

.jdcheckbox {
    float: none;
    vertical-align: middle;
    margin: 0 3px 0 0;
    padding: 0;
}

.item-fore5 {
    text-align: center;
}

.lo {

}

.login-form .login-box .login-btn {
    border: 1px solid #cb2a2d;
    width: 99%;
    position: relative;
    height: 32px;
}

.login-form .login-box .login-btn .btn-img {
    border: 1px solid #e85356;
    background: #e4393c;
    width: 302px;
    font-size: 20px;
    color: #fff;
    display: block;
    height: 31px;
    line-height: 31px;
    font-family: 'Micraosoft YaHei';
}

a.btn-img:hover {
    color: #000;
    text-decoration: none;
}

a.ss:hover {
    color: red;
    /* text-decoration: none;  */
}

.main-img {
    width: 990px;
    height: 475px;
}

element.style {
    background-color: #041422;
}

/**图片样式*/
.login-banner {
    background-color: #041422;
    position: absolute;
    width: 100%;
    margin-top: 0px;
}

/* 底部链接*/
#footer {
    text-align: center;
    padding-bottom: 30px;
    font-size: 12px;
    color: #666;
}

.copyright {
    margin-top: 10px;
}